<h1>Настройки твиттера</h1>

<%if notice%>
  <div class="<%= type_message notice %>"><%= notice %></div><br>
<% end %>
<%= link_to "#{name_link_twitter}", "/auth/twitter"  unless current_user.twitter_account %>
<%= link_to "Disconnect Twitter Account", '/pages/setting_of_twitter', method: :delete, confirm: "Are you sure?" if user_signed_in? && current_user.twitter_account %><br>
