<div id="content">
<%= form_for(@picture, html:{multipart: true, class: "dropzone", id: "my-dropzone"}) do |f| %>
  <!--
  <%# if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <%# @picture.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>

      </ul>
    </div>
  <%# end %> 
  <div class="dz-message-needsclick">
    <h3>Drop file here</h3> or
    <strong>click</strong> to upload
  </div>-->
  
  <div class="fallback">
    <%= f.file_field :image %><br>
    <%#= f.submit %>
    <%= button_to 'Add photo', @picture, method: :create, remote: true, class: "btn btn-primary" %>
  </div>
<% end %>
</div>  