<div id="content">
<%= form_for(@picture, html:{multipart: true, class: "dropzone", id: "my-dropzone"}) do |f| %>
  <div class="fallback">
    <%= f.file_field :image %><br>
    <%#= f.submit %>
    <%= button_to 'Add photo', @picture, method: :create, remote: true, class: "btn btn-primary" %>
  </div>
<% end %>
</div>  