<h1>Галерея картинок</h1>

<p id="notice"><%= notice %></p>

<%= render 'form' %><br>
<%= will_paginate @pictures, renderer: BootstrapPagination::Rails%>
<div class="pictures">
  <%= render @pictures %>
</div>
<br>